.header {
  background-color: #1c1c21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navItemContainer {
  display: flex;
  gap: 8px;
}

.navItem {
  display: flex;
  cursor: pointer;
}

.logo {
  margin-right: 200px;
  cursor: pointer;
}

.activeText {
  color: #f2f2f3;
}

@media all and (max-width: 1120px) {
  .navbar {
    max-width: 800px;
  }

  .logo {
    margin-right: 100px;
  }
}

@media all and (max-width: 820px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    margin: 0;
  }
}

@media all and (max-width: 420px) {
  .navItemContainer {
    flex-direction: column;
  }
}
